{% if site.stackoverflow_user_name %}
<section>
  <h1>Physics Stack Exchange</h1>
  <a href="http://physics.stackexchange.com/users/{{site.stackoverflow_user_id}}/{{site.stackoverflow_user_name}}">
  <img src="http://physics.stackexchange.com/users/flair/{{site.stackoverflow_user_id}}.png" width="208" height="58" alt="Profile for {{ site.stackoverflow_user_name }} at Physics Stack Exchange, Q&amp;A for active researchers, academics, and students of physics" title="Profile for {{ site.stackoverflow_user_name }} at Physics Stack Exchange, Q&amp;A for active researchers, academics, and students of physics">
  </a>
</section>
{% endif %}